@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Bug Detective</h1>
    <p class="lead">Welcome to Bug Detective!  Please sign in to get started.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign Up</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Manage/ManageUsers" class="btn btn-primary">Manage Users</a>
</div>
</div>