@model BugDetective.Models.ProjectUsersViewModel

@{
    ViewBag.Title = "AssignUsers";
}

<h2>AssignUsers</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ListBox("SelectedUsers", Model.Users)
    <input type="submit" value="Assign Users" />
}