@model BugDetective.Models.ProjectUsersViewModel

@{
    ViewBag.Title = "RemoveUsers";
}

<h2>RemoveUsers</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="projectId" value="@Model.projectId" />
    @Html.ListBox("SelectedUsers", Model.Users)
    
    <input type="submit" value="Remove Users From Project" class="btn btn-danger"/>
}